@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap');

$white: #FDFFFC;
$rich_black: #04151F;
$tear: #2EC4B6;
$red: #E71D36;
$gold: #FF9F1C;
$blue: #235789;
$green: #27ae60;

$copy-color: #FDFFFC;

$bellota: 'Bellota Text', cursive;

$regular: 400;
$bold: 700;

$defaultSize: 1440px;
$smallSize: 1000px;

$spaceMin: 20px;
$spaceLow: 35px;
$spaceMedium: 55px;
$spaceLarge: 70px;

$headerFontSize: 14px;